
.FormPage {
  margin-top: 5% !important;
  margin-bottom: 5% !important;
  margin-left: 5% !important;
  margin-right: 5% !important;
  font-family: "Boldonse", system-ui;
  font-weight: 400;
  font-style: normal;
  font-variant: normal;
  color: #e5171b;
  border: 16px solid #ffffff;
}
